.detalhesEvento {
	padding: 10px;
	border: 1px #CCC solid;
	margin-bottom: 60px;
}

.detalhesEvento label {
	font-size: 24px;
	font-weight: 400;
}

.tableFormulario {
	width: 50%;
	margin-bottom: 60px;
}

.btnSalvar {
	float:right;
}

.blocoForm {
	background: #FFFFFF;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #00000029;
    border-radius: 15px;
}